/* Global Colors */
:root {
    --dark-color: #1b263b;
    --main-color: #778da9;
    --highlights: #e0e1dd;
}

body {
    background-color: var(--dark-color);
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 95%;
    height: 80vh;
    background-color: var(--dark-color);
}

.left-screen, .middle-screen, .right-buttons {
    margin: 2px;
}

/* Left screen for text */
.left-screen {
    padding:10px;
    width: 30%;
    background-color: var(--main-color);
    color: white;
}

/* Interactive Editor */
#network {
    width: 100%;
    height: 100%;  
    background-color: #f4f4f4;
    border: 2px solid var(--main-color);
}

/* Middle screen for interaction */
.middle-screen {
    background-color: red;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Right section for buttons */
.right-buttons {
    padding: 10px;
    width: 10%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    color: white;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid var(--highlights);
    color: var(--highlights);
    background-color: var(--dark-color);
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: var(--main-color);
}

#popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    justify-content: center;
    align-items: center;
}

/* Modal Content/Box */
#popup-content {
    background-color: var(--highlights);
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 80%; 
    border-radius: 10px;
    text-align: left; /* To keep text aligned to the left */
    overflow-y: auto; /* Enables vertical scrolling */
    font-family: 'Arial', sans-serif; /* Set the font family */
    font-size: 20px; /* Set the font size */
}
